@import (reference) "/Users/taivo/Projects/double9/pagaripoisid/vendor/bower-asset/bootstrap/less/variables.less";
@import (reference) "/Users/taivo/Projects/double9/pagaripoisid/vendor/almasaeed2010/adminlte/build/less/variables.less";

.treegrid table {

  tr {
    border-left: 3px solid #fff;

    .treegrid-container > a,
    .treegrid-col-1 > a {
      position: relative;
      padding-left: 30px;
      color: @sidebar-dark-bg;

      font-size: ceil((@font-size-base * 1.10));

      &:hover,
      &:focus {
        //color: @sidebar-dark-hover-bg;
      }

      &:before {
        content: "\f07b";
        position: absolute;
        top: 0;
        left: 2px;
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }

    .treegrid-col-1 > a {
      margin-left: 24px;
    }


    td {
      border-top: none;
    }

    .toggle-hover {
      display: none;
    }

    .delete-confirm {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &.current {
      border-left: 3px solid @red;
      > td {
        background-color: #f8f8f8;
        .treegrid-container > a {
          &:before {
            color: @red;
          }
        }
      }
    }
    &.hidden-category {
      .treegrid-container > a,
      .treegrid-col-1 > a {
        color: @sidebar-light-submenu-color;
      }
    }
  }

  tr:hover {
    //background-color: @sidebar-light-hover-bg;
    .toggle-hover {
      display: inline-block;
    }
  }

  tr.expanded .treegrid-container > a{
    &:before {
      content: "\f07c";
    }
  }

  .treegrid-expander {
    top: -2px;
  }

  .treegrid-expander-expanded {
    top: 2px;
    left: -3px;
  }
}
