.popover-dialog-form {
  margin: 10px;
}
.popover-dialog-form .dialog-description {
  margin-bottom: 10px;
}
.popover-dialog-form .dialog-description h5 {
  text-transform: uppercase;
  font-weight: bold;
}

/*# sourceMappingURL=popover-confirm-dialog.css.map */
