.calendar-json-editor {
  display: flex;
  flex-wrap: wrap;
}
.calendar-json-editor .calendar-holder {
  margin-right: 20px;
  margin-bottom: 20px;
}
.calendar-json-editor .calendar-holder .flatpickr-day.configured-date {
  border-color: #569ff7;
}
.calendar-json-editor .editor-holder {
  border: 1px solid rgba(72, 72, 72, 0.2);
  border-radius: 5px 5px 0 0;
  min-height: 298px;
  position: relative;
  top: 1px;
  min-width: 284px;
  width: 400px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
}
.calendar-json-editor .editor-holder .well {
  margin-bottom: 0px;
}
.calendar-json-editor .editor-holder > div > .well {
  margin-bottom: 10px;
}
.calendar-json-editor .editor-holder span.select-date {
  font-size: 14px;
  color: #ccc;
  margin: 30px 0;
  display: block;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
}

/*# sourceMappingURL=calendar-json-editor.css.map */
