@import (reference) "../../../../vendor/bower-asset/bootstrap/less/bootstrap.less";
@import (reference) "../../../../vendor/almasaeed2010/adminlte/build/less/variables.less";

.multi-calendar {
  .row;
  .clearfix;
  .calendar {

    .fc-toolbar {
      padding: 0;
      h2 {
        font-size: @font-size-h4;
        padding-top: 6px;
      }
      height: 26px;
    }

    .fc-day.selected {
      background-color: @alert-info-bg;
      border-color: darken(@alert-info-border, 20%);
    }
    .fc-disabled-day {
      background-color: #eee;
    }

    .fc-corner-left,
    .fc-corner-right {
      border-radius: 0;
    }
  }
}

#closed-schedule-calendar {
  .fc-bgevent {
    background: @red;
    opacity: .1;
  }
}