.multi-form-table > thead > tr > td,
.multi-form-table > tbody > tr > td {
  line-height: 2.42857143 !important;
  position: relative;
}
.multi-form-table > thead > tr > td .field-label,
.multi-form-table > tbody > tr > td .field-label {
  font-size: 12px;
  padding: 10px 12px;
}
.multi-form-table > thead > tr > td .field-label.badge,
.multi-form-table > tbody > tr > td .field-label.badge {
  padding: 8px 10px;
  position: relative;
  top: 1px;
}
.multi-form-table > thead > tr > td .help-block,
.multi-form-table > tbody > tr > td .help-block {
  margin: 0;
  line-height: 2rem;
}
.multi-form-table > thead > tr > td .badge,
.multi-form-table > tbody > tr > td .badge {
  margin-bottom: 0px;
}
.multi-form-table > thead > tr > td[data-attribute="value"] .input-group,
.multi-form-table > tbody > tr > td[data-attribute="value"] .input-group {
  max-width: 240px;
}
.multi-form-table > thead > tr > td[data-attribute="value"] .checkbox-list .checkbox,
.multi-form-table > tbody > tr > td[data-attribute="value"] .checkbox-list .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
.multi-form-table > thead > tr > td[data-attribute="value"] .checkbox-list .checkbox label,
.multi-form-table > tbody > tr > td[data-attribute="value"] .checkbox-list .checkbox label {
  min-height: unset;
  line-height: 1.95rem;
  padding-left: 0;
}
.multi-form-table > thead > tr > td[data-attribute="value"] .checkbox-list .checkbox input[type="checkbox"],
.multi-form-table > tbody > tr > td[data-attribute="value"] .checkbox-list .checkbox input[type="checkbox"] {
  margin-left: -16px;
}
.multi-form-table tr.loading div.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.multi-form-table tr[data-key="__tpl__"] {
  display: none;
}
.field-options-collapse {
  border: 1px solid #ccc;
}
.field-option-table .option-label {
  font-size: 12px;
  padding: 6px 12px;
}
.field-option-table td {
  line-height: 2.14285714 !important;
}
.field-option-table td .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
.field-option-table td .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}
.field-option-table td input[type="radio"] {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.field-option-table.single-option td {
  padding: 2px 5px;
}
.field-option-table.single-option .field-type-label {
  font-size: 12px;
  padding: 5px 12px;
  position: relative;
  top: -1px;
  font-weight: 300;
}
.field-type-label[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/*# sourceMappingURL=main.css.map */