@import (reference) "../../../../vendor/bower-asset/bootstrap/less/variables.less";
@import (reference) "../../../../vendor/almasaeed2010/adminlte/build/less/variables.less";

.multi-form-table {
    > thead > tr > td,
    > tbody > tr > td {
        //line-height: 34px;
        line-height: (@line-height-base * 1.69999999949) !important;
        //vertical-align: middle !important;
        position: relative;

        .field-label {
            font-size: 12px;
            padding: 10px 12px;
            &.badge {
                padding: 8px 10px;
                position: relative;
                top: 1px;
            }
        }

        .help-block {
            margin: 0;
            line-height: 2rem;
        }

        .badge {
            margin-bottom: 0px;
        }

        button[data-toggle="modal"] {
            > i {
                //margin-right: 10px;
            }
        }

        &[data-attribute="value"] {
            //.input-group {
            //    max-width: 100px;
            //}

            .input-group {
                max-width: 240px;
            }

            .checkbox-list {
                .checkbox {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 20px;
                    margin-right: 20px;
                    display: inline-block;
                    label {
                        min-height: unset;
                        line-height: 1.95rem;
                        padding-left: 0;
                    }
                    input[type="checkbox"] {
                        margin-left: -16px;
                    }
                }
            }
        }
    }
}
.multi-form-table tr.loading {
    div.spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.multi-form-table tr[data-key="__tpl__"] {
    display: none;
}

.field-options-collapse {
    border: 1px solid #ccc;
}
.field-option-table {
    .option-label {
        font-size: 12px;
        padding: 6px 12px;
    }
    td {
        line-height: (@line-height-base * 1.49999999955) !important;

        .checkbox {
            margin-top: 0;
            margin-bottom: 0;
            input[type="checkbox"] {
                position: relative;
                margin-left: 0;
            }
        }

        input[type="radio"] {
            position: relative;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    &.single-option {

        td {
            padding: 2px 5px;
        }

        .field-type-label {
            font-size: 12px;
            padding: 5px 12px;
            position: relative;
            top: -1px;
            font-weight: 300;
        }
    }
}
.field-type-label {
    &[aria-expanded="true"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
