@import (reference) "../../../../vendor/bower-asset/bootstrap/less/bootstrap.less";
@import (reference) "../../../../vendor/almasaeed2010/adminlte/build/less/variables.less";


#sales-overview {
    .name,
    .value {
      display: inline-block;
    }

  .inline-block {
    display: inline-block;
    margin-right: 30px;
  }

  .info-box,
  .info-box-icon {
    min-height: 120px;
  }


  .info-box-content {
      &.no-icon {
          margin-left: 0;
      }

      table {

        td {
          padding-right: 50px;
        }

        tr:not(:last-child) {
          td {
            padding-bottom: 20px;
          }
        }
      }
  }
}