

.checkbox-option {

  .collapse-title {
    margin-top: 0;

    .checkbox-option-title {
      font-size: 14px;
      margin-bottom: 5px;
      margin-left: 1px;

      input[type="checkbox"] {
        position: relative;
        top: 1px;
      }
    }
  }
}
