@import (reference) "../../../../vendor/bower-asset/bootstrap/less/variables.less";
@import (reference) "../../../../vendor/almasaeed2010/adminlte/build/less/variables.less";

.ajax-grid {
  position: relative;
  .loader {
    display: none;
  }
  tr.row-link:hover {
    cursor: pointer;
  }
  .loading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    background-color: #f3f3f3;
    z-index: 998;
  }
  .spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    span {
      padding: 5px 15px;
      border-radius: @border-radius-base;
      display: inline-block;
      text-align: center;
      margin-top: 50px;
      color: #666;
      font-weight: bold;
      //background-color: @btn-info-bg;
    }
  }
}