@import (reference) "../../../../vendor/bower-asset/bootstrap/less/variables.less";
@import (reference) "../../../../vendor/almasaeed2010/adminlte/build/less/variables.less";

.grid-view tr.row-link:hover {
  cursor: pointer;
}
.grid-view .table td {
  vertical-align: middle;
}
