.json-editor-widget {
  background-color: #fff;
}
.json-editor-widget.bordered {
  border: 1px solid rgba(72, 72, 72, 0.2);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
}
.json-editor-widget .je-header {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
.json-editor-widget .well {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  padding-bottom: 8px !important;
}
.json-editor-widget [data-schemapath=root] > .je-header {
  display: none;
  margin: 0;
}
.json-editor-widget [data-schemapath=root] > .well {
  padding-bottom: 0px !important;
  border: none;
}
.json-editor-widget [data-schemapath=root] > .well .well {
  transition: background-color 0.15s ease-in-out;
}
.json-editor-widget [data-schemapath=root] > .well .well:hover {
  background-color: #fafafa;
}
.json-editor-widget .table {
  margin-left: -9px;
  margin-right: -9px;
  margin-bottom: 10px;
  border-color: transparent;
}
.json-editor-widget .table td, .json-editor-widget .table th {
  border-color: transparent;
}
.json-editor-widget .table thead th {
  padding-bottom: 0;
  padding-top: 0;
}
.json-editor-widget .icon {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
