
$tbl-border-color: transparent;

.json-editor-widget {

  background-color: #fff;

  &.bordered {
    border: 1px solid rgba(72, 72, 72, 0.2);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);
  }

  .je-header {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .well {
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    padding-bottom: 8px !important;
  }

  [data-schemapath="root"] > .je-header {
    display: none;
    margin: 0;
  }

  [data-schemapath="root"] > .well {
    padding-bottom: 0px !important;
    border: none;
    .well {
      //border-color: lighten(#0a88e8, 20%);
      transition: background-color 0.15s ease-in-out;
      &:hover {
        background-color: #fafafa;
      }
    }
  }

  .table {
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: 10px;
    border-color: $tbl-border-color;
    td, th {
      border-color: $tbl-border-color;
    }

    thead th {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .icon {
    color: #000;
  }
}
