@media screen and (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
}
hr {
  border-top: 1px solid #eeeeee !important;
}
#main-content-title {
  position: relative;
  top: 2px;
}
#main-content-title > .label {
  position: relative;
  top: -2px;
}
.main-search-form {
  display: inline-block;
  max-width: 500px;
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 6px 10px 0px;
}
@media (max-width: 991px) {
  .main-search-form {
    max-width: 150px;
  }
}
.main-search-form input[type="text"],
.main-search-form .input-group-btn .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.main-search-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.main-search-form .input-group-btn .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.main-search-form input[type="text"]:focus,
.main-search-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.modal-xl {
  width: 1200px;
}
.modal-2xl {
  width: 1400px;
}
.modal-3xl {
  width: 1600px;
}
@media (max-width: 1200px) {
  .modal-xl {
    width: 1000px;
  }
  .modal-2xl {
    width: 1100px;
  }
  .modal-3xl {
    width: 1200px;
  }
  .modal-3xl,
  .modal-2xl,
  .modal-xl {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .modal-3xl,
  .modal-2xl,
  .modal-xl {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.product-attachment-options textarea {
  resize: none;
}
.alert > .error-msg {
  margin-right: 10px;
}
.alert > .error-msg span.label {
  font-size: 12px;
  padding-top: 4px;
  position: relative;
  top: -1px;
}
pre.json {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Int */
}
a.disabled {
  cursor: default;
}
.clock {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  color: #999;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 100;
}
.dropdown-menu-button {
  border-radius: 0;
  display: block;
  padding: 6px 20px;
  white-space: nowrap;
  text-align: left;
  width: 100%;
  border: 0;
  outline: none;
}
.dropdown-menu-button:hover,
.dropdown-menu-button:focus {
  background-color: #e1e3e9;
}
.table.fixed {
  table-layout: fixed;
}
table.shop-opening-hours td {
  padding-right: 20px;
}
.login-page .alert {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
#profile-image .file-preview .file-preview-thumbnails {
  min-height: 138px;
}
#profile-image .file-preview img {
  max-height: 138px;
}
#profile-image .file-preview .file-thumbnail-footer {
  height: auto;
}
#profile-image .file-preview .file-footer-caption {
  margin-bottom: 15px;
}
#profile-image .file-preview .kv-file-content {
  height: auto;
}
#profile-image .file-preview .file-error-message ul {
  padding-left: 0;
  list-style: none;
}
#profile-image .file-preview .progress-bar-success {
  display: none;
}
#profile-image .krajee-default.file-preview-frame {
  box-shadow: none;
  margin: 0 auto;
  float: none;
}
#profile-image .krajee-default.file-preview-frame:not(.file-preview-error):hover {
  box-shadow: none;
  border-color: #3c8dbc;
}
#profile-image .btn-file {
  margin-right: 5px;
}
#vendor-form .vendor-logo {
  margin-bottom: 10px;
  max-width: 100px;
  max-height: 100px;
  float: right;
}
.collapse-control {
  color: #333333;
}
.collapse-control:hover,
.collapse-control:active,
.collapse-control:visited,
.collapse-control:focus {
  color: #333333;
}
.collapse-control .caret {
  position: relative;
  top: -2px;
}
.collapse-control .caret-right {
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.editor .ck-editor .ck-content {
  min-height: 306px;
  max-height: 500px;
}
#product-pricing-options {
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
}
#product-pricing-options input,
#product-pricing-options select {
  max-width: 300px;
}
#product-price-grid {
  border-top: 1px solid #eee;
}
#product-price-grid thead th.variation {
  background-color: #EDFFDD;
  background-color: #e6f1f7;
  border: 1px dashed #ccc;
  border-top: none;
}
#product-price-grid thead th.variation > .variant {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: -4px;
}
#product-price-grid .form-control {
  padding: 6px;
}
#product-price-grid .input-group-addon {
  padding: 6px 8px;
}
#product-attachment-form .file-preview,
#post-attachment-form .file-preview {
  padding: 0;
  border-radius: 0;
  border: none;
  margin: 0;
  outline: none;
}
#product-attachment-form .file-preview img.file-preview-image,
#post-attachment-form .file-preview img.file-preview-image {
  max-height: 170px;
  max-width: 278px;
}
#product-attachment-form .file-preview .file-drop-zone,
#post-attachment-form .file-preview .file-drop-zone {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  border-radius: 0;
  border: 2px dashed #aaa;
  outline: none;
  min-height: 300px;
}
#product-attachment-form .file-preview .file-thumbnail-footer,
#post-attachment-form .file-preview .file-thumbnail-footer {
  height: auto;
}
#product-attachment-form .file-preview .file-footer-caption,
#post-attachment-form .file-preview .file-footer-caption {
  margin-bottom: 5px;
}
#product-attachment-form .file-preview .krajee-default.file-preview-frame,
#post-attachment-form .file-preview .krajee-default.file-preview-frame {
  box-shadow: none;
  float: left;
}
#product-attachment-form .file-preview .krajee-default.file-preview-frame:not(.file-preview-error):hover,
#post-attachment-form .file-preview .krajee-default.file-preview-frame:not(.file-preview-error):hover {
  box-shadow: none;
  border-color: #3c8dbc;
}
#product-attachment-form .file-drop-zone-title,
#post-attachment-form .file-drop-zone-title {
  padding: 98px 10px;
}
#product-attachment-form .file-preview-frame,
#post-attachment-form .file-preview-frame {
  position: relative;
  min-width: 146px;
}
#product-attachment-form .kv-file-content,
#post-attachment-form .kv-file-content {
  height: auto;
  z-index: 1;
}
#product-attachment-form .file-thumbnail-footer,
#post-attachment-form .file-thumbnail-footer {
  z-index: 0;
  margin-top: 5px;
  margin-right: 1px;
}
#product-attachment-form .item-options,
#post-attachment-form .item-options {
  position: absolute;
  bottom: 6px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0%);
}
#product-attachment-form .item-options .label,
#post-attachment-form .item-options .label {
  bottom: 2px;
  position: relative;
}
#product-attachment-form .file-uploading .item-options,
#post-attachment-form .file-uploading .item-options {
  display: none;
}
#product-attachment-form .attachment-item > .item-content,
#post-attachment-form .attachment-item > .item-content {
  cursor: pointer;
}
.product-attachment-options img,
.post-attachment-options img {
  max-width: 100%;
}
.product-attachment-options table td,
.post-attachment-options table td {
  vertical-align: middle;
  text-align: left;
}
.product-attachment-options table tr > td:first-child,
.post-attachment-options table tr > td:first-child {
  font-weight: bold;
}
.popover {
  border-radius: 3px;
}
.popover .popover-content {
  padding: 0px;
}
.multi-save-btn ul.dropdown-menu button {
  border: none;
  display: inline;
  width: 100%;
  text-align: left;
  line-height: 26px;
}
.multi-save-btn ul.dropdown-menu button:hover {
  background-color: #f5f5f5;
}
.delete ul.dropdown-menu {
  border: 3px solid moccasin;
}
.delete li > a {
  line-height: 24px;
}
.grid-view .delete .btn:not(:hover):not(:focus) {
  border: 1px solid transparent;
  background-color: transparent;
}
#kvFileinputModal .file-zoom-content .item-options {
  display: none;
}
#kvFileinputModal .file-zoom-content {
  height: auto;
}
#kvFileinputModal .file-zoom-content img {
  width: 100%;
  height: auto;
}
.intl-tel-input {
  display: block;
}
.intl-tel-input .flag-container,
.intl-tel-input .selected-flag {
  outline: none;
}
.table td.text-clipped {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
}
.ajax-grid .table-nav {
  padding: 10px;
  border-top: 1px solid #f4f4f4;
}
.data-grid .table-nav {
  padding: 10px 0 0 0;
  border-top: 1px solid #f4f4f4;
}
.data-grid .table-header {
  padding: 0 0 10px 0;
}
.data-grid .table-header .actions .btn {
  float: right;
}
.data-grid .table-header .summary {
  margin-top: 10px;
}
.bulk-edit-box {
  padding: 15px 15px 0 15px;
  background-color: #eee;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
table.dataTable thead th a {
  display: block;
  width: 100%;
  padding-right: 30px;
  position: relative;
  opacity: 1;
  color: #333;
}
table.dataTable thead th a:after {
  content: "\e150";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.2;
}
table.dataTable thead th a.asc:after {
  content: "\e155";
  opacity: 0.5;
}
table.dataTable thead th a.desc:after {
  content: "\e156";
  opacity: 0.5;
}
.address-list {
  padding-left: 0px;
  display: inline-block;
  padding-right: 40px;
}
.address-list li {
  list-style: none;
}
.address-list li p {
  margin-bottom: 0;
}
#attribute-grid .checkbox-list .checkbox {
  display: inline-block;
  margin-right: 10px;
}
.btn-group-lg .btn {
  padding: 10px 20px;
}
.btn-group-lg .btn.dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
}
.img-center {
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  margin: 0;
  position: relative;
}
.img-center.h-100 {
  height: 100px;
}
.img-center.h-110 {
  height: 130px;
}
.img-center.h-120 {
  height: 130px;
}
.img-center.h-130 {
  height: 130px;
}
.img-center.h-140 {
  height: 140px;
}
.img-center.h-150 {
  height: 150px;
}
.img-center.h-160 {
  height: 150px;
}
.img-center.h-180 {
  height: 180px;
}
.img-center.h-200 {
  height: 200px;
}
.img-center.h-300 {
  height: 300px;
}
.img-center img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-tabs-custom > .nav-tabs > li.active,
.nav-tabs-custom > div > .nav-tabs > li.active {
  border-top-color: #dd4b39;
}
.nav-pills-custom > .nav-pills > li.active > a,
.nav-pills-custom > .nav-pills > li.active > a:hover,
.nav-pills-custom > div > .nav-pills > li.active > a,
.nav-pills-custom > div > .nav-pills > li.active > a:hover {
  border-left-color: #dd4b39;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: inherit;
  color: #444;
}
.nav-pills-custom {
  padding: 15px 0;
}
.nav-pills-custom:before,
.nav-pills-custom:after {
  display: table;
  content: " ";
}
.nav-pills-custom:after {
  clear: both;
}
.nav-pills-custom:before,
.nav-pills-custom:after {
  display: table;
  content: " ";
}
.nav-pills-custom:after {
  clear: both;
}
.nav-pills-custom .nav-pills-container {
  padding-right: 0;
}
.nav-pills-custom .nav-pills-container > div {
  border-right: 1px solid #ddd;
}
.nav-pills-custom ul.nav-pills {
  padding-right: 0;
  margin-bottom: 15px;
}
.nav-pills-custom ul.nav-pills li {
  position: relative;
  border-bottom: none;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.nav-pills-custom ul.nav-pills li:first-of-type {
  border-top: 1px solid #ddd;
}
.nav-pills-custom ul.nav-pills li:last-of-type {
  border-bottom: 1px solid #ddd;
}
.nav-pills-custom ul.nav-pills li:first-of-type.active {
  border-top: none;
}
.nav-pills-custom ul.nav-pills li.active {
  border-bottom: none;
}
.nav-pills-custom ul.nav-pills li.active a {
  background-color: #dadada;
}
.nav-pills-custom ul.nav-pills li.error a:after {
  content: "\f071";
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  float: right;
  color: #dd4b39;
}
.nav-pills-custom .tab-content {
  padding-left: 25px;
  border-left: 1px solid #ddd;
  position: relative;
  left: -1px;
}
.nav-pills > li > a {
  padding: 18px 15px;
}
@media (max-width: 991px) {
  .nav-pills-custom ul.nav-pills li {
    border-right: none;
  }
  .nav-pills-custom ul.nav-pills li.active a:before,
  .nav-pills-custom ul.nav-pills li.active a:after {
    display: none;
  }
  .nav-pills-custom .tab-content {
    padding-left: 15px;
    left: 0px;
    border-left: none;
  }
}
div.table {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
div.table div.thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
div.table div.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
div.table div.tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}
div.table div.thead > form,
div.table div.tbody > form,
div.table div.tfoot > form,
div.table div.tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
div.table div.td,
div.table div.th,
div.table span.td,
div.table span.th {
  display: table-cell;
  vertical-align: inherit;
  padding: 8px;
}
div.table div.th,
div.table span.th {
  font-weight: bold;
}
.framed {
  border: 1px solid #f4f4f4;
  padding: 6px 12px;
}
.content-header > .breadcrumb {
  font-size: 13px;
}
.content-header > .breadcrumb > .active {
  color: #777;
}
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  border-radius: 0;
  box-shadow: none;
}
.select2-search--inline .select2-search__field:focus {
  border: none;
}
.select2-dropdown {
  z-index: 999;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 28px;
  font-size: 14px;
  padding-right: 0px;
}
.select2-container .select2-selection--single .select2-selection__clear {
  font-size: 16px;
  background-color: #eee;
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 5px;
  line-height: 25px;
  height: 28px;
  top: 0.3rem;
  right: 2.3rem;
}
.select2-container .select2-selection--single .select2-selection__clear > span {
  position: relative;
  top: -1px;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  border-radius: 3px;
  background-color: #fcf8e3;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
  font-size: 1.8rem;
}
.order-table tfoot tr:first-child td {
  border-top-width: 2px;
  border-top-color: #ccc;
}
.order-table span.line-attribute {
  font-style: italic;
  padding-right: 10px;
}
.order-table td {
  vertical-align: middle !important;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 9px 15px;
  font-size: 16px;
  line-height: 1.3333333;
}
#order-detail td,
#order-detail th {
  vertical-align: middle !important;
}
#order-detail span.name {
  margin-right: 10px;
  float: left;
  line-height: 30px;
}
.form-table {
  width: 100%;
  table-layout: fixed;
}
.form-table tbody > tr > td {
  vertical-align: middle;
}
.form-table td:first-child,
.form-table td:nth-child(1),
.form-table th:nth-child(1) {
  width: 300px;
  padding-left: 30px;
}
.form-table thead td {
  font-weight: bold;
}
.form-table tbody td:nth-child(1) {
  text-transform: uppercase;
  font-size: 12px;
}
.form-table .form-group {
  margin-bottom: 0;
}
.postage-label-container .embed-postage-label {
  width: 100%;
  height: 100%;
  min-height: 600px;
}
@media (min-width: 992px) {
  #page-params-box {
    min-height: 540px;
  }
}
@media (min-width: 768px) {
  #payment-details th {
    width: 300px;
  }
}
@media print {
  a[href]:after {
    content: none !important;
  }
}
.btn-save-container .dropdown-menu {
  font-size: 15px;
  font-weight: bold;
}
.btn-save-container .dropdown-menu li > a {
  padding: 6px 26px 6px 18px;
  text-transform: uppercase;
}
.btn-save-container .dropdown-menu li > a i {
  margin-right: 12px;
}
#payment-method-settings ul,
#delivery-method-settings ul {
  margin: 0;
}
#payment-method-settings ul:before,
#delivery-method-settings ul:before,
#payment-method-settings ul:after,
#delivery-method-settings ul:after {
  display: table;
  content: " ";
}
#payment-method-settings ul:after,
#delivery-method-settings ul:after {
  clear: both;
}
#payment-method-settings ul:before,
#delivery-method-settings ul:before,
#payment-method-settings ul:after,
#delivery-method-settings ul:after {
  display: table;
  content: " ";
}
#payment-method-settings ul:after,
#delivery-method-settings ul:after {
  clear: both;
}
#payment-method-settings li,
#delivery-method-settings li {
  list-style: none;
  max-width: 445px;
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
@media (max-width: 991px) {
  #payment-method-settings li,
  #delivery-method-settings li {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (min-width: 1199px) {
}
#search-results-form input[name="q"] {
  min-width: 500px;
  margin-right: 15px;
}
#search-results-form select {
  position: relative;
  top: -1px;
  margin-right: 15px;
}
@media (max-width: 991px) {
  #search-results-form input[name="q"] {
    min-width: unset;
  }
}
#search-results {
  padding: 0;
}
#search-results li {
  list-style: none;
  border-bottom: 1px solid #eee;
}
#search-results li a {
  color: #333;
}
#search-results li p {
  font-size: 12px;
  color: #777777;
}
.box {
  border-radius: 0;
}
.static-field {
  padding: 5px 0 20px 0;
}
.static-field > .attribute-label {
  margin-right: 10px;
}
#userinvitationform-roles label {
  display: block;
}
#addressform .help-block {
  font-size: 12px;
}
.custom-data-field {
  margin: 0;
}
.custom-data-field.large {
  max-width: 400px;
}
.custom-data-field.medium {
  max-width: 300px;
}
.custom-data-field.small {
  max-width: 200px;
}
.custom-data-field.xs {
  max-width: 100px;
}
.custom-data-field .input-group-addon.custom {
  border: none;
  background-color: transparent;
  padding: 0;
}
.custom-data-field .help-block {
  margin-bottom: 0;
}
.field-btn {
  margin-left: 10px;
}
[data-raty] {
  color: #f4c835 !important;
  display: inline-block !important;
  font-size: 8px;
  white-space: nowrap;
}
[data-raty] img {
  width: 16px;
}
/*# sourceMappingURL=admin.css.map */

.datepicker.dropdown-menu {
  z-index: 1030 !important;
}