@import (reference) "../../../../../vendor/bower-asset/bootstrap/less/bootstrap.less";
@import (reference) "../../../../../vendor/almasaeed2010/adminlte/build/less/variables.less";

@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700";
//@import "../../../../backend/assets/app/variables.less";

@file-upload-thumb-width: 278px;
@file-upload-thumb-height: 170px;

body {
 font-family: 'Roboto', sans-serif;
}

hr {
  border-top: 1px solid #eeeeee !important;
}

#main-content-title {
  position: relative;
  top: 2px;
  > .label {
    position: relative;
    top: -2px;
  }
}

.main-search-form {

  display: inline-block;
  max-width: 500px;

  border-radius: 3px;
  border: 1px solid #374850;
  margin: 6px 10px 0px;

  @media (max-width: @screen-sm-max) {
    max-width: 150px;
  }

  input[type="text"], .input-group-btn .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
  }

  input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
  }

  .input-group-btn .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
  }

  input[type="text"]:focus,
  input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
  }
}

.modal-xl {
  width: 1200px;
}

.modal-2xl {
  width: 1400px;
}

.modal-3xl {
  width: 1600px;
}

@media (max-width: @screen-lg-min) {
  .modal-xl {
    width: 1000px;
  }

  .modal-2xl {
    width: 1100px;
  }

  .modal-3xl {
    width: 1200px;
  }
  .modal-3xl,
  .modal-2xl,
  .modal-xl {
    max-width: 100%;
  }
}

@media (max-width: @screen-md-min) {
  .modal-3xl,
  .modal-2xl,
  .modal-xl {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}



.product-attachment-options {
  textarea {
    resize: none;
  }
}

.alert > .error-msg {
  margin-right: 10px;

  span.label {
    font-size: 12px;
    padding-top: 4px;
    position: relative;
    top: -1px;
  }
}

pre.json {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Int */
}

.detail-view {
  th {
    //min-width: 300px;
  }
}

a.disabled {
  cursor: default;
}

.clock {
  padding-left: @padding-large-vertical * 2;
  padding-right: @padding-large-vertical * 2;
  line-height: @navbar-height;
  color: #999;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 100;
}


.dropdown-menu-button {
  border-radius: 0;
  display: block;
  padding: 6px 20px;
  white-space: nowrap;
  text-align: left;
  width: 100%;
  border: 0;
  outline: none;

  &:hover, &:focus {
    background-color: #e1e3e9;
  }
}

.table.fixed {
  table-layout: fixed;
}

table.shop-opening-hours {
  td {
    padding-right: 20px;
  }
}

.login-page {
  .alert {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

#profile-image {
  .file-preview {
    .file-preview-thumbnails {
      min-height: 138px;
    }
    img {
      max-height: 138px;
    }
    .file-thumbnail-footer {
      height: auto;
    }
    .file-footer-caption {
      margin-bottom: 15px;
    }
    .kv-file-content {
      height: auto;
    }
    .file-error-message ul {
      padding-left: 0;
      list-style: none;
    }
    .progress-bar-success {
      display: none;
    }
  }
  .krajee-default.file-preview-frame {
    box-shadow: none;
    margin: 0 auto;
    float: none;
  }
  .krajee-default.file-preview-frame:not(.file-preview-error):hover {
    box-shadow: none;
    border-color: @light-blue;
  }
  .btn-file {
    margin-right: 5px;
  }
}


#vendor-form {
  .vendor-logo {
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 100px;
    float: right;
  }
}

.collapse-control {
  color: @text-color;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: @text-color;
  }

  .caret {
    position: relative;
    top: -2px;
  }

  .caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
}

.editor {
  .ck-editor .ck-content {
    min-height: 306px;
    max-height: 500px;
  }
}

#product-pricing-options {

  //background-color: lighten(#3c8dbc, 10%);
  //border: 1px solid darken(#3c8dbc, 10%);
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #ccc;

  input,
  select {
    max-width: 300px;
  }
}

#product-price-grid {
  border-top: 1px solid #eee;
  thead {
    th.variation {
      background-color: #EDFFDD;
      background-color: lighten(#3c8dbc, 45%);
      //background-image: repeating-linear-gradient(145deg, #fff, #fff 10px, #fcfcfc 10px, #fcfcfc 20px);

      border: 1px dashed #ccc;
      border-top: none;
      > .variant {
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: .4px;
        margin-top: -4px;
      }
    }
  }

  .form-control {
    padding: 6px;
  }

  .input-group-addon {
    padding: 6px 8px;
  }
}


#product-attachment-form,
#post-attachment-form {
  .file-preview {
    padding: 0;
    border-radius: 0;
    border: none;
    margin: 0;
    outline: none;

    img.file-preview-image {
      max-height: @file-upload-thumb-height;
      max-width: @file-upload-thumb-width;
    }

    .file-drop-zone {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      border-radius: 0;
      border: 2px dashed #aaa;
      outline: none;
      min-height: 300px;
    }

    .file-thumbnail-footer {
      height: auto;
    }
    .file-footer-caption {
      margin-bottom: 5px;
    }

    .krajee-default.file-preview-frame {
      box-shadow: none;
      float: left;
    }
    .krajee-default.file-preview-frame:not(.file-preview-error):hover {
      box-shadow: none;
      border-color: @light-blue;
    }
  }
  .file-drop-zone-title {
    padding: 98px 10px;
  }
  .file-preview-frame {
    position: relative;
    min-width: 146px;
  }
  .kv-file-content {
    height: auto;
    //position: relative;
    z-index: 1;
  }
  .file-thumbnail-footer {
    //position: absolute;
    //bottom: 6px;
    z-index: 0;
    margin-top: 5px;
    margin-right: 1px;
    //width: 100%;
    //padding-right: 13px;
  }
  .item-options {
    position: absolute;
    bottom: 6px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%,0%);

    .label {
      bottom: 2px;
      position: relative;
    }
  }


  .file-uploading .item-options {
    display: none;
  }
  .attachment-item > .item-content {
    cursor: pointer;
  }
}

.product-attachment-options,
.post-attachment-options {

  img {
    max-width: 100%;
  }

  table {
    td {
      vertical-align: middle;
      text-align: left;
    }
    tr > td:first-child {
      font-weight: bold;
    }
  }
}

.popover {
  border-radius: 3px;
  .popover-content {
    padding: 0px;
  }
}

.multi-save-btn {
  ul.dropdown-menu {
    button {
      border: none;
      display: inline;
      width: 100%;
      text-align: left;
      line-height: 26px;
      &:hover {
        background-color: @dropdown-link-hover-bg;
      }
    }
  }
}


.delete {
  ul.dropdown-menu {
    border: 3px solid moccasin;
  }
  li > a {
    line-height: 24px;
  }
  li.confirm {
    //background-color: @alert-danger-border;
  }
  li.cancel {
    //background-color: @alert-success-border;
  }
}

.grid-view {
  .delete {
    .btn:not(:hover):not(:focus) {
      border: 1px solid transparent;
      background-color: transparent;
    }
  }
}

#kvFileinputModal {
  .file-zoom-content .item-options {
    display: none;
  }

  .file-zoom-content {
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.intl-tel-input {
  display: block;
  .flag-container,
  .selected-flag {
    outline: none;
  }
}

.table {
  td.text-clipped {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
  }
}

.ajax-grid .table-nav {
  padding: @box-padding;
  border-top: 1px solid @box-border-color;
}
.data-grid {
  .table-nav {
    padding: @box-padding 0 0 0;
    border-top: 1px solid @box-border-color;
  }
  .table-header {
    padding: 0 0 @box-padding 0;
    .actions .btn {
        float: right;
    }
    .summary {
      margin-top: 10px;
    }
  }
}

.bulk-edit-box {
  padding: 15px 15px 0 15px;
  background-color: #eee;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}


table.dataTable {
  thead th a {
    display: block;
    width: 100%;
    padding-right: 30px;
    position: relative;
    opacity: 1;
    color: #333;

    &:after {
      content: "\e150";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      font-family: 'Glyphicons Halflings';
      opacity: 0.2;
    }

    &.asc:after {
      content: "\e155";
      opacity: 0.5;
    }

    &.desc:after {
      content: "\e156";
      opacity: 0.5;
    }
  }
}

.address-list {
  padding-left: 0px;
  display: inline-block;
  padding-right: 40px;
  li {
    list-style: none;
    p {
      margin-bottom: 0;
    }
  }
}

#attribute-grid {
  .checkbox-list {
    .checkbox {
      display: inline-block;
      margin-right: 10px;
    }
  }
}


.btn-group-lg {
  .btn {
    padding: @padding-large-vertical 20px;
    &.dropdown-toggle {
      padding-left: @padding-large-vertical;
      padding-right: @padding-large-vertical;
    }
  }
}

.img-center {
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  margin: 0;
  position: relative;

  &.h-100 {
    height: 100px;
  }
  &.h-110 {
    height: 130px;
  }
  &.h-120 {
    height: 130px;
  }
  &.h-130 {
    height: 130px;
  }
  &.h-140 {
    height: 140px;
  }
  &.h-150 {
    height: 150px;
  }
  &.h-160 {
    height: 150px;
  }
  &.h-180 {
    height: 180px;
  }
  &.h-200 {
    height: 200px;
  }
  &.h-300 {
    height: 300px;
  }

  img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.nav-tabs-custom>.nav-tabs>li.active,
.nav-tabs-custom>div>.nav-tabs>li.active {
  border-top-color: @red;
}

.nav-pills-custom>.nav-pills>li.active > a,
.nav-pills-custom>.nav-pills>li.active > a:hover,
.nav-pills-custom>div>.nav-pills>li.active > a,
.nav-pills-custom>div>.nav-pills>li.active > a:hover {
  border-left-color: @red;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: inherit;
  color: #444;
}

@nav-pills-border-color: #aaa;

.nav-pills-custom {
  .clearfix;
  padding: 15px 0;

  .nav-pills-container {
    padding-right: 0;
    //float: left;

    > div {
      border-right: 1px solid @nav-tabs-border-color;
    }
  }

  ul.nav-pills {
    padding-right: 0;
    margin-bottom: 15px;

    //border-bottom: 1px solid @box-border-color;

    li {
      position: relative;
      border-bottom: none;
      border-bottom: 1px solid @nav-tabs-border-color;
      a {
        //border-top: 1px solid @nav-tabs-border-color;
        //border-top: 1px solid #ccc
      }

      border-right: 1px solid @nav-tabs-border-color;

      &:first-of-type {
        border-top: 1px solid @nav-tabs-border-color;
      }
      &:last-of-type {
        border-bottom: 1px solid @nav-tabs-border-color;
      }
      //&:last-of-type.active {
      //  border-bottom: none;
      //}
      &:first-of-type.active {
        border-top: none;
      }

      &.active {
        border-bottom: none;
        //border-top: 1px solid @nav-pills-border-color;
        //border-bottom-color: @nav-pills-border-color;
      }

      &.active a {
        background-color: #dadada;
        //border-right: 1px solid @nav-pills-border-color;
      }

      &.error {
        a:after {
          content: "\f071";
          font-weight: 900;
          font-family: 'Font Awesome 5 Free';
          font-size: 16px;
          color: #dd4b39;
          float: right;
          color: @red;
        }
      }
    }
  }

  .tab-content {
    padding-left: 25px;
    border-left: 1px solid @nav-tabs-border-color;
    position: relative;
    left: -1px;
  }
}

.nav-pills > li > a {
  padding: 18px 15px;
}

@media (max-width: @screen-sm-max) {
  .nav-pills-custom {
    ul.nav-pills {
      li {
        border-right: none;
      }
      li.active a:before,
      li.active a:after {
        display: none;
      }
    }
    .tab-content {
      padding-left: 15px;
      left: 0px;
      border-left: none;
    }
  }
}



div.table {
  display:table;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;

  div.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  div.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  div.tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
  }

  div.thead > form,
  div.tbody > form,
  div.tfoot > form,
  div.tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  div.td, div.th, span.td, span.th {
    display: table-cell;
    vertical-align: inherit;
    padding: @table-cell-padding;
  }

  div.th, span.th {
    font-weight: bold;
  }
}

.framed {
  border: 1px solid @box-border-color;
  padding: @padding-base-vertical @padding-base-horizontal;
}


.content-header>.breadcrumb {
  font-size: 13px;

  >.active {
    color: #777;
  }
}

.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  border-radius: 0;
  box-shadow: none;
}

//.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  border: none;
}

.select2-dropdown {
  z-index: 999;
}

.select2-container .select2-selection--single {
  .select2-selection__rendered {
    line-height: 28px;
    font-size: 14px;
    padding-right: 0px;
  }
  .select2-selection__clear {
    font-size: 16px;
    background-color: #eee;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 5px;
    line-height: 25px;
    height: 28px;
    top: 0.3rem;
    right: 2.3rem;

    > span {
      position: relative;
      top: -1px;
    }
  }
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  border-radius: 3px;
  background-color: @alert-warning-bg;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
  font-size: 1.8rem;
}

.order-table {

  tfoot tr:first-child td {
    border-top-width: 2px;
    border-top-color: #ccc;
  }

  span.line-attribute {
    font-style: italic;
    padding-right: 10px;
  }

  td {
    vertical-align: middle !important;
  }
}

.btn-lg, .btn-group-lg > .btn {
  padding: 9px 15px;
  font-size: 16px;
  line-height: 1.3333333;
}


#order-detail {
  td, th {
    vertical-align: middle !important;
  }
  span.name {
    margin-right: 10px;
    float: left;
    line-height: 30px;
  }
}

.form-table {
  width: 100%;
  table-layout: fixed;

  tbody > tr > td {
    vertical-align: middle;
  }

  td:first-child,
  td:nth-child(1),
  th:nth-child(1) {
    width: 300px;
    padding-left: 30px;
  }

  thead {
    td {
      font-weight: bold;
    }
  }

  tbody {
    td:nth-child(1) {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}


.postage-label-container {
  .embed-postage-label {
    width: 100%;
    height: 100%;
    min-height: 600px;
  }
}

@media (min-width: @screen-md-min) {
  #page-params-box {
    min-height: 540px;
  }
}


@media (min-width: @screen-sm-min) {
  #payment-details {
    th {
      width: 300px;
    }
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.btn-save-container {
  .dropdown-menu {
    font-size: 15px;
    font-weight: bold;
    li > a {
      padding: 6px 26px 6px 18px;
      text-transform: uppercase;
      i {
        margin-right: 12px;
      }
    }
  }
}


#payment-method-settings,
#delivery-method-settings {

  ul {
    margin: 0;
    .clearfix;
  }

  li {
    list-style: none;
    max-width: 445px;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    @media (max-width: @screen-sm-max) {
      margin-right: 0px;
      margin-left: 0px;
    }
    table {
      @media (min-width: @screen-md-max) {
        //margin-bottom: 0;
      }
    }
  }

}
#search-results-form {
  input[name="q"] {
    min-width: 500px;
    margin-right: 15px;
  }
  select {
    position: relative;
    top: -1px;
    margin-right: 15px;
  }
  @media (max-width: @screen-sm-max) {
    input[name="q"] {
      min-width: unset;
    }
  }
}
#search-results {
  padding: 0;
  li {
    list-style: none;
    border-bottom: 1px solid #eee;
    a {
      color: #333;
    }
    p {
      font-size: 12px;
      .text-muted;
    }
  }
}

.box {
  border-radius: 0;
}

.static-field {
  padding: 5px 0 20px 0;

  >.attribute-label {
    margin-right: 10px;
  }
}

#userinvitationform-roles {
  label {
    display: block;
  }
}

#addressform {
  .help-block {
    font-size: 12px;
  }
}

.custom-data-field {
  margin: 0;

  &.large {
    max-width: 400px;
  }
  &.medium {
    max-width: 300px;
  }
  &.small {
    max-width: 200px;
  }
  &.xs {
    max-width: 100px;
  }

  .input-group-addon {

  }

  .input-group-addon.custom {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .help-block {
    margin-bottom: 0;
  }
}

.field-btn {
  margin-left: 10px;
}

[data-raty] {
  color: #f4c835 !important;
  display: inline-block !important;
  font-size: 8px;
  white-space: nowrap;
  img {
    width: 16px;
  }
}

.datepicker.dropdown-menu {
  z-index: 1030 !important;
}